/* Header */
#Header {
    width: 100%;
    background-color: #268AB7;
    color: white;
}
.headbig {
    font-size: 72px;
    font-style: bold;
}
.headsmol {
    font-size: 24px;
}

/* Major */
#Major {
    background-color: #7762A1;
    padding-bottom: 1%;
    border-radius: 25px;
}
.resize_img {
    width: 46%;
    padding: 2%;
}
@media (max-width:600px) {
    .resize_img{width: 100%;}
}

/* Standard */
#Standard {
    background-color: #EF4036;
    padding-bottom: 2%;
    padding-top:2%;
    border-radius: 25px;
}
#Meta {
    border-radius: 25px 25px 0px 0px;
    border-style: none none solid none;
}
#SpicyPicks {
    border-radius: 0px;
    border-style: solid none;
}
#MetaCall {
    border-radius: 0px 0px 25px 25px;
    border-style: solid none none none;
    min-height: 400px;
}
@media (max-width:600px) { /* Phone */
    #CallMonImg {margin-bottom: 10%;}
}
@media (min-width:600px) { /*Desktop */
    #CallBox {display:flex; align-items:center;}
}

#T50 {
    background-color: lightblue;
    padding: 2%;
    border-radius: 25px;
}
#T50 td, #T50 th {
    background-color: lightblue;
    border: none;
}

/* Footer */
.Footer {
    background-color: #cccccc;
    font-size: 24px;
    float: left;
    width: 33%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

/* General */
body {
    text-align: center;
}
.CONTENT {
    position: relative;
    left: 2%;
    width: 96%;
    margin-top: 2%;
}
.title {
    padding-top: 1%;
    padding-left: 2%;
    font-size: 32px;
}
.textbox {
    background-color: #ffffff;
    color: black;
    position:relative;
    left: 2%;
    width: 94%;
    border-radius: 25px;
    padding: 1%;
}
.borderhaver {
    border-width: medium;
    border-color: black;
}